<div class="row form-group">
	<div class="col col-md-5">
			<label ng-show="activeSchemaTab == 1">Object Name:</label>
			<label ng-show="activeSchemaTab == 2">Event Name:</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="entity.entityName">
	</div>
</div>
<br>
<div>
	<p class="fontSize">Attributes :</p>

	<div class="row form-group">
		<div class="col col-md-2 text-center">Data Type</div>
		<div class="col col-md-3 text-center">Attribute Name</div>
		<div class="col col-md-2 text-center">Is Mandatory</div>
		<div class="col col-md-2 text-center">Is Unique</div>
	</div>
	<div  ng-repeat="col in entity.attributes" class="form-group row">
			<div class="col col-md-2">
					<select class="form-control" ng-model="col.dataType">
						<option ng-repeat="x in dataTypes" ng-value="x.value">{{x.text}}</option>
					</select>
			</div>
			<div class="col col-md-3">
					<input type="text" class="form-control"  ng-model="col.name" placeholder=""  ng-disabled="primaryCols.indexOf(col.dataType)<0">	</div>
			<div class="col col-md-2">
					<input type="checkbox" class="form-control"  ng-model="col.isMandatory">
				</div>
			<div class="col col-md-2">
					<input type="checkbox" class="form-control"  ng-model="col.isUnique" ng-disabled="primaryCols.indexOf(col.dataType)<0">
			</div>
			<div class="col col-md-2">
					<i ng-click="addNewAttribute()" ng-show="$index == 0"  class="fa fa-plus fa-2x csr-ptr"></i>
			</div>
		</div>
	<button class="btn btn-primary" type="button" ng-click="submit()">submit</button>

</div>
		  	